{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <a class="btn btn-primary" href="{{ path('company_new') }}">New company</a>

        {% for company in companies %}
            <div>
                <a href="{{ path('company_show', {id: company.id}) }}">{{ company.name }}</a>
            </div>
        {% else %}
            <div>
                No companies
            </div>
        {% endfor %}
    </div>
{% endblock %}
