{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        {% if company.id %}
            <h1>Modifier la companie</h1>
        {% else %}
            <h1>Ajouter une companie</h1>
        {% endif %}

        {{ form(form) }}
    </div>
{% endblock %}
